[phases.setup]
nixPkgs = [
  "python311",
  "gcc",
  "mysql80",
  "pkg-config",
  "cairo",
  "pango",
  "gdk-pixbuf",
  "libxml2",
  "libxslt",
  "libjpeg",
  "zlib",
  "libreoffice"
]

# Make LibreOffice (soffice) visible in PATH
env = {
  PATH = "$PATH:/nix/var/nix/profiles/default/bin"
}

[phases.install]
cmds = [
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "python manage.py collectstatic --noinput"
]

[start]
cmd = "gunicorn PTLT.wsgi --bind 0.0.0.0:$PORT --log-file -"
