[phases.setup]
nixPkgs = [
  "...",
  "python311",
  "gcc",
  "pkg-config",
  "cairo",
  "pango",
  "gdk-pixbuf",
  "libxml2",
  "libxslt",
  "libjpeg",
  "zlib",
  "libreoffice"
]


# Install Python dependencies
[phases.install]
cmds = [
    "pip install -r requirements.txt"
]

# Build phase
[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

# Runtime start command
[start]
cmd = "gunicorn PTLT.wsgi --bind 0.0.0.0:$PORT --log-file -"
